AmimirMVC/Connected Services/ServiceReferenceAmimir/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AmimirWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AmimirWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSTPR_ESTADO_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="STPR_ESTADO_LISTA_Result" nillable="true" type="tns:STPR_ESTADO_LISTA_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSTPR_ESTADO_LISTA_Result" nillable="true" type="tns:ArrayOfSTPR_ESTADO_LISTA_Result" />
  <xs:complexType name="STPR_ESTADO_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ESTADO_LISTA_Result" nillable="true" type="tns:STPR_ESTADO_LISTA_Result" />
  <xs:complexType name="STPR_ESTADO_GUARDAR_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ESTADO_GUARDAR_Result" nillable="true" type="tns:STPR_ESTADO_GUARDAR_Result" />
  <xs:complexType name="STPR_ESTADO_EDITAR_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ESTADO_EDITAR_Result" nillable="true" type="tns:STPR_ESTADO_EDITAR_Result" />
  <xs:complexType name="ArrayOfSTPR_ANIME_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="STPR_ANIME_LISTA_Result" nillable="true" type="tns:STPR_ANIME_LISTA_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSTPR_ANIME_LISTA_Result" nillable="true" type="tns:ArrayOfSTPR_ANIME_LISTA_Result" />
  <xs:complexType name="STPR_ANIME_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEstreno" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popularidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Secuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ANIME_LISTA_Result" nillable="true" type="tns:STPR_ANIME_LISTA_Result" />
  <xs:complexType name="STPR_ANIME_GUARDAR_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoID" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEstreno" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popularidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Secuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ANIME_GUARDAR_Result" nillable="true" type="tns:STPR_ANIME_GUARDAR_Result" />
  <xs:complexType name="STPR_ANIME_EDITAR_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstadoID" type="xs:int" />
      <xs:element minOccurs="0" name="FechaEstreno" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Popularidad" type="xs:decimal" />
      <xs:element minOccurs="0" name="Precuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Puntuacion" type="xs:decimal" />
      <xs:element minOccurs="0" name="Secuela" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecuelaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_ANIME_EDITAR_Result" nillable="true" type="tns:STPR_ANIME_EDITAR_Result" />
  <xs:complexType name="ArrayOfSTPR_CAPITULO_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="STPR_CAPITULO_LISTA_Result" nillable="true" type="tns:STPR_CAPITULO_LISTA_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSTPR_CAPITULO_LISTA_Result" nillable="true" type="tns:ArrayOfSTPR_CAPITULO_LISTA_Result" />
  <xs:complexType name="STPR_CAPITULO_LISTA_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="Duracion" type="xs:int" />
      <xs:element minOccurs="0" name="FechaPublicado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_CAPITULO_LISTA_Result" nillable="true" type="tns:STPR_CAPITULO_LISTA_Result" />
  <xs:complexType name="STPR_CAPITULO_GUARDAR_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AnimeID" type="xs:int" />
      <xs:element minOccurs="0" name="Duracion" type="xs:int" />
      <xs:element minOccurs="0" name="FechaPublicado" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Orden" type="xs:int" />
      <xs:element minOccurs="0" name="Sinopsis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Titulo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="STPR_CAPITULO_GUARDAR_Result" nillable="true" type="tns:STPR_CAPITULO_GUARDAR_Result" />
</xs:schema>