AmimirMVC/Connected Services/ServiceReferenceAmimir/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Amimir/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Amimir/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8080/Amimir/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/AmimirWCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoLista_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoLista" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoEditar_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoEditar" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoEditar_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoEditarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoBorrar_InputMessage">
    <wsdl:part name="parameters" element="tns:estadoBorrar" />
  </wsdl:message>
  <wsdl:message name="IService1_estadoBorrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:estadoBorrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_animeLista_InputMessage">
    <wsdl:part name="parameters" element="tns:animeLista" />
  </wsdl:message>
  <wsdl:message name="IService1_animeLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:animeListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_animeGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:animeGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_animeGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:animeGuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_animeDatos_InputMessage">
    <wsdl:part name="parameters" element="tns:animeDatos" />
  </wsdl:message>
  <wsdl:message name="IService1_animeDatos_OutputMessage">
    <wsdl:part name="parameters" element="tns:animeDatosResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_animeEditar_InputMessage">
    <wsdl:part name="parameters" element="tns:animeEditar" />
  </wsdl:message>
  <wsdl:message name="IService1_animeEditar_OutputMessage">
    <wsdl:part name="parameters" element="tns:animeEditarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_animeBorrar_InputMessage">
    <wsdl:part name="parameters" element="tns:animeBorrar" />
  </wsdl:message>
  <wsdl:message name="IService1_animeBorrar_OutputMessage">
    <wsdl:part name="parameters" element="tns:animeBorrarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_capituloLista_InputMessage">
    <wsdl:part name="parameters" element="tns:capituloLista" />
  </wsdl:message>
  <wsdl:message name="IService1_capituloLista_OutputMessage">
    <wsdl:part name="parameters" element="tns:capituloListaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_capituloGuardar_InputMessage">
    <wsdl:part name="parameters" element="tns:capituloGuardar" />
  </wsdl:message>
  <wsdl:message name="IService1_capituloGuardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:capituloGuardarResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/estadoLista" message="tns:IService1_estadoLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/estadoListaResponse" message="tns:IService1_estadoLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/estadoGuardar" message="tns:IService1_estadoGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/estadoGuardarResponse" message="tns:IService1_estadoGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/estadoDatos" message="tns:IService1_estadoDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/estadoDatosResponse" message="tns:IService1_estadoDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoEditar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/estadoEditar" message="tns:IService1_estadoEditar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/estadoEditarResponse" message="tns:IService1_estadoEditar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="estadoBorrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/estadoBorrar" message="tns:IService1_estadoBorrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/estadoBorrarResponse" message="tns:IService1_estadoBorrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="animeLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/animeLista" message="tns:IService1_animeLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/animeListaResponse" message="tns:IService1_animeLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="animeGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/animeGuardar" message="tns:IService1_animeGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/animeGuardarResponse" message="tns:IService1_animeGuardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="animeDatos">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/animeDatos" message="tns:IService1_animeDatos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/animeDatosResponse" message="tns:IService1_animeDatos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="animeEditar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/animeEditar" message="tns:IService1_animeEditar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/animeEditarResponse" message="tns:IService1_animeEditar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="animeBorrar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/animeBorrar" message="tns:IService1_animeBorrar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/animeBorrarResponse" message="tns:IService1_animeBorrar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="capituloLista">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/capituloLista" message="tns:IService1_capituloLista_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/capituloListaResponse" message="tns:IService1_capituloLista_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="capituloGuardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/capituloGuardar" message="tns:IService1_capituloGuardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/capituloGuardarResponse" message="tns:IService1_capituloGuardar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoLista">
      <soap:operation soapAction="http://tempuri.org/IService1/estadoLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/estadoGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/estadoDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoEditar">
      <soap:operation soapAction="http://tempuri.org/IService1/estadoEditar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="estadoBorrar">
      <soap:operation soapAction="http://tempuri.org/IService1/estadoBorrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="animeLista">
      <soap:operation soapAction="http://tempuri.org/IService1/animeLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="animeGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/animeGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="animeDatos">
      <soap:operation soapAction="http://tempuri.org/IService1/animeDatos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="animeEditar">
      <soap:operation soapAction="http://tempuri.org/IService1/animeEditar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="animeBorrar">
      <soap:operation soapAction="http://tempuri.org/IService1/animeBorrar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capituloLista">
      <soap:operation soapAction="http://tempuri.org/IService1/capituloLista" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="capituloGuardar">
      <soap:operation soapAction="http://tempuri.org/IService1/capituloGuardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8080/Amimir/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>